<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="UTF-8">
    <title>Loinnir - Ag Fionnadh Pobail</title>
    <link rel="icon" href="../static/logo.png">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/css/uikit.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.22/js/uikit-icons.min.js"></script>

    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

    <link rel="stylesheet" href="../static/style.css"/>
</head>

<body class="uk-height-1-1">

<div class="amber-500-element full-page" style="padding-top: 1em">
    <div class="uk-child-width-expand@s uk-text-center uk-vertical-align-middle" uk-grid>
        <div></div>

        <div>
            <div>
                <h1 class="uk-text-lead">
                    Admin Login
                </h1>
                <form method='POST'>
                    <input type='text' name='username' id='username' placeholder='username'/>
                    <input type='password' name='secret' id='secret' placeholder='secret'/>
                    <input type='submit' name='submit' placeholder="submit"/>
                </form>
            </div>
        </div>

        <div></div>
    </div>
</div>
</body>
</html>
